/* .container */
.container {
    width: 980px;
    margin: 0 auto;
}
body {
    font-family: 'ProximaNova',arial,sans-serif;
}
.clearfix:after, .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* end .container */

/* #header */
#header {
    background: transparent;
}
.clearfix {
    clear: none;
}
.clearfix:after, .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* end #header */

/* #nav-main */
.clear {
    clear: both;
}
.clear {
    clear: both;
}
body, div, ul, li {
    margin: 0;
    padding: 0;
  }
/* end #nav-main */

/* #nav-main ul */
#header #nav-main ul {
    background: #eeeeee;
    height: 30px;
}
.rounded-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.rounded-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
ul, dl {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* end #nav-main ul */

/* #nav-man ul li */
#header #nav-main ul li {
    position: relative;
}
#header li {
    float: left;
}
/* end #nav-man ul li */

/* #nav-man ul li a */
#header #nav-main ul li.active a {
    color: #fff;
}
#header #nav-main ul li a.first {
    border-left: none;
}
.bg-brand, #header #nav-main ul li.active a {
    background: #005BBB;
}
#header #nav-main ul li a {
    color: #333333;
    border-left: 1px solid #e4e5e6;
    border-right: 1px solid #b9bbbd;
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 15px;
}
.rounded-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
a {
    color: #005BBB;
}
a {
    text-decoration: underline;
}
body {
    background: white;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
/* end #nav-main ul li a */
